.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CSharpLearning/FileContentIndex/ef2f43ae-55ee-4e64-ba92-375ca86311bf.vsidx
.vs/CSharpLearning/FileContentIndex/read.lock
.vs/CSharpLearning/v17/.wsuo
